# Memberi tahu pip untuk mencari paket torch di repositori khusus CPU
--extra-index-url https://download.pytorch.org/whl/cpu

# Dependensi utama yang diimpor langsung di App.py
Flask
flask-cors
transformers
torch
langdetect